body {
    font-family: sans-serif;
    font-weight: bold;
    background-color: #565452;
    margin: 0;
}

.selectable {
    user-select: initial;
    -moz-user-select: initial;
    -khtml-user-select: initial;
    -webkit-user-select: initial;
    -o-user-select: initial;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.w100 {
    width: 100%;
    float: left;
}

.error {
    color: red;
}