<div>
    <div class="todolist-header">
        <div ng-if="!$ctrl.minimized">
            <div class="todolist-title-row">
                <div class="todolist-title-text">Project: {{$ctrl.selectedProject.name}}</div>
            </div>
        </div>
    </div>

    <div class="todolist-content">
        <div ng-if="!$ctrl.minimized">
            <div class="todolist-tasks selectable">
                <div ng-repeat="task in $ctrl.tasks" class="todolist-task" 
                     ng-class="{'todolist-task-selected': $ctrl.isTaskSelected(task, $index)
                                 , 'todolist-task-grayed': $ctrl.isTaskGrayed(task)
                                 , 'todolist-task-completed': $ctrl.isTaskCompleted(task)
                                 , 'todolist-task-grayed-completed': $ctrl.isTaskGrayed(task) && $ctrl.isTaskCompleted(task)
                                 , 'todolist-task-being-moved': $ctrl.isTaskBeingMoved(task)}">
                    <div class="w100">
                        <div ng-click="$ctrl.openControlTaskDialog(task)" class="todolist-task-controls" ng-class="{'todolist-task-controls-disabled': $ctrl.taskWorkedOn && !$ctrl.isTaskWorkedOn(task)}"></div>
                        <div class="todolist-task-text">{{task.taskString}}</div>
                    </div>
                    <div class="w100">
                        <task-details-list 
                            task="task" 
                            task-worked-on="$ctrl.taskWorkedOn" 
                            traversed-task-detail-index="$ctrl.traversedTaskDetailIndex" 
                            is-task-detail-selected="$ctrl.isTaskDetailSelected" 
                            is-task-worked-on="$ctrl.isTaskWorkedOn"
                            is-task-being-moved="$ctrl.isTaskBeingMoved"
                            is-any-parent-task-worked-on="$ctrl.isTaskWorkedOn(task)"
                            is-any-parent-task-completed="$ctrl.isTaskCompleted(task)"
                            is-any-parent-task-being-moved="$ctrl.isTaskBeingMoved(task)"
                            open-control-task-detail-dialog="$ctrl.openControlTaskDetailDialog"></task-details-list>
                    </div>
                </div>
            </div>

            <div ng-if="$ctrl.loadingTasksError" class="error">{{$ctrl.loadingTasksError.clientMessage}}</div>
        </div>
    </div>

    <div class="todolist-footer" ng-class="{'todolist-footer-minimized': $ctrl.minimized}">
        <div ng-click="$ctrl.minimized = !$ctrl.minimized" class="todolist-maximize-minimize-button" 
             ng-class="{'todolist-big-arrow-right': $ctrl.minimized
                         , 'todolist-maximize-minimize-button-left': $ctrl.minimized
                         , 'todolist-big-arrow-left': !$ctrl.minimized
                         , 'todolist-maximize-minimize-button-right': !$ctrl.minimized
                 }"></div>

        <div ng-if="!$ctrl.minimized">
            <div ng-click="$ctrl.backFromTasks(); $ctrl.taskWorkedOn = null; $ctrl.Dialog.closeDialog();" class="todolist-button todolist-footer-button">Back</div>
            <div ng-click="$ctrl.openCreateTaskDialog(); $ctrl.traversedTaskIndex = null;" class="todolist-button todolist-footer-button" ng-class="{'todolist-footer-button-disabled': $ctrl.taskWorkedOn || $ctrl.taskBeingMoved}">New Task</div>
            <div ng-if="$ctrl.taskBeingMoved && $ctrl.taskBeingMoved.parentTaskId && $ctrl.taskBeingMoved.projectId === $ctrl.selectedProject.id" ng-click="$ctrl.clearParentTaskOfTaskBeingMoved(); $ctrl.traversedTaskIndex = null;" class="todolist-button todolist-footer-button">Clear Parent</div>
            <div ng-if="$ctrl.taskBeingMoved && $ctrl.taskBeingMoved.projectId !== $ctrl.selectedProject.id" ng-click="$ctrl.setProjectOfTaskBeingMoved(); $ctrl.traversedTaskIndex = null;" class="todolist-button todolist-footer-button">Move To Project</div>
        </div>
    </div>

    <div ng-if="!$ctrl.minimized">
        <!-- Control task dialog -->
        <action-list-dialog
            status="$ctrl.Dialog.isDialogOpen($ctrl.Dialog.DIALOG.CONTROL_TASK)"
            title-text="Control task"
            actions="$ctrl.controlTaskActions"
            task="$ctrl.selectedTask"
            cancel-action="$ctrl.Dialog.closeDialog()"
            process-hotkey="$ctrl.processHotkeyControlTaskDialog"></action-list-dialog>

        <!-- Create task detail dialog -->
        <action-cancel-dialog
            status="$ctrl.Dialog.isDialogOpen($ctrl.Dialog.DIALOG.CREATE_TASK_DETAIL)"
            title-text="Create detail"
            error="$ctrl.error"
            text-input="$ctrl.dialogInputText"
            action="$ctrl.createTaskDetail($ctrl.selectedTask.id, $ctrl.dialogInputText)"
            action-text="Create"
            cancel-action="$ctrl.Dialog.closeDialog()"
            wide
            process-hotkey="$ctrl.processHotkeyCreateTaskDetailDialog"></action-cancel-dialog>

        <!-- Edit task dialog -->
        <action-cancel-dialog
            status="$ctrl.Dialog.isDialogOpen($ctrl.Dialog.DIALOG.EDIT_TASK)"
            title-text="Edit task"
            error="$ctrl.error"
            text-input="$ctrl.dialogInputText"
            default-text-input="$ctrl.dialogInputText"
            action="$ctrl.editTask($ctrl.selectedTask.id, $ctrl.dialogInputText)"
            action-text="Edit"
            cancel-action="$ctrl.Dialog.closeDialog()"
            wide
            process-hotkey="$ctrl.processHotkeyEditTaskDialog"></action-cancel-dialog>

        <!-- Remove task dialog -->
        <action-cancel-dialog
            status="$ctrl.Dialog.isDialogOpen($ctrl.Dialog.DIALOG.REMOVE_TASK)"
            title-text="Remove task"
            error="$ctrl.error"
            text="Are you sure you want to remove the task?"
            action="$ctrl.removeTask($ctrl.selectedTask.id)"
            action-text="Remove"
            cancel-action="$ctrl.Dialog.closeDialog()"
            process-hotkey="$ctrl.processHotkeyRemoveTaskDialog"></action-cancel-dialog>

        <!-- Create task dialog -->
        <action-cancel-dialog 
            status="$ctrl.Dialog.isDialogOpen($ctrl.Dialog.DIALOG.CREATE_TASK)" 
            title-text="New task" 
            error="$ctrl.error" 
            text-input="$ctrl.dialogInputText" 
            action="$ctrl.createTask($ctrl.selectedProject.id, $ctrl.dialogInputText)" 
            action-text="Create" 
            cancel-action="$ctrl.Dialog.closeDialog()" 
            wide
            process-hotkey="$ctrl.processHotkeyCreateTaskDialog"></action-cancel-dialog>

        <div class="todolist-content-info-row" ng-if="$ctrl.loadingTasks">
            <div class="todolist-content-info-row-text" ng-if="$ctrl.loadingTasks">Loading...</div>
        </div>

        <div class="todolist-content-info-row" ng-if="$ctrl.serviceCallsBlocked && !$ctrl.loadingTasks">
            <div class="todolist-content-info-row-text">A change is being processed, please wait...</div>
        </div>
    </div>
</div>