<div ng-if="$ctrl.status" class="todolist-dialog" ng-class="{'todolist-dialog-wide': $ctrl.attributes.hasOwnProperty('wide')}">
    <div class="todolist-dialog-title">{{$ctrl.titleText}}: <span ng-if="$ctrl.error" class="error">{{$ctrl.error}}</span></div>
    <div ng-if="$ctrl.textInput !== undefined"><input class="todolist-dialog-input-text" type="text" ng-model="$ctrl.textInput" focus-me="true"></div>
    <div ng-if="$ctrl.text !== undefined" class="todolist-dialog-text">{{$ctrl.text}}</div>

    <div ng-click="$ctrl.action()" class="todolist-button todolist-dialog-button-action">{{$ctrl.actionText}}</div>
    <div ng-click="$ctrl.cancel()" class="todolist-button todolist-dialog-button-cancel">Cancel</div>
</div>