<div ng-repeat="detail in $ctrl.task.details" class="todolist-task-detail" 
     ng-class="{'todolist-task-detail-of-detail': $ctrl.attributes.hasOwnProperty('detailOfDetail')
     , 'todolist-task-detail-traversed': $ctrl.task === $ctrl.taskWorkedOn && $index === $ctrl.traversedTaskDetailIndex
     , 'todolist-task-detail-selected': $ctrl.isTaskDetailSelected(detail, $index)
     , 'todolist-task-detail-grayed': $ctrl.isGrayed(detail)
     , 'todolist-task-detail-completed': $ctrl.isCompleted(detail)
     , 'todolist-task-detail-grayed-completed': $ctrl.isGrayed(detail) && $ctrl.isCompleted(detail)}">
    <div ng-click="!$ctrl.isGrayed(detail) && $ctrl.openControlTaskDetailDialog(detail)" class="todolist-task-detail-dash"></div>{{detail.taskString}}

    <task-details-list 
        task="detail" 
        task-worked-on="$ctrl.taskWorkedOn" 
        traversed-task-detail-index="$ctrl.traversedTaskDetailIndex" 
        is-task-detail-selected="$ctrl.isTaskDetailSelected" 
        is-task-worked-on="$ctrl.isTaskWorkedOn"
        is-any-parent-task-worked-on="!$ctrl.isGrayed(detail)"
        is-any-parent-task-completed="$ctrl.isCompleted(detail)"
        open-control-task-detail-dialog="$ctrl.openControlTaskDetailDialog"
        detail-of-detail></task-details-list>
</div>