<div class="todolist unselectable" ng-class="{'todolist-minimized': $ctrl.minimized, 'todolist-maximized': !$ctrl.minimized}">
    <div ng-if="$ctrl.selectedProject">
        <tasks-list
            minimized="$ctrl.minimized"
            selected-project="$ctrl.selectedProject"
            error="$ctrl.error"
            process-hotkey="$ctrl.processHotkeyTasksList"></tasks-list>
    </div>

    <div ng-if="!$ctrl.selectedProject">
        <projects-list 
            minimized="$ctrl.minimized"
            selected-project="$ctrl.selectedProject"
            error="$ctrl.error"
            process-hotkey="$ctrl.processHotkeyProjectsList"></projects-list>
    </div>

    <div ng-if="!$ctrl.minimized">
        <error-dialog status="$ctrl.error" error="$ctrl.error"></error-dialog>
    </div>
</div>