<div class="todolist unselectable" ng-class="{'todolist-minimized': $ctrl.minimized, 'todolist-maximized': !$ctrl.minimized}">
    <div class="todolist-header">
        <div ng-if="!$ctrl.minimized">
            <div class="todolist-title-row">
                <div ng-if="!$ctrl.selectedProject" class="todolist-title-text">Projects</div>
                <div ng-if="$ctrl.selectedProject" class="todolist-title-text">Project: {{$ctrl.selectedProject.name}}</div>
            </div>
        </div>
    </div>

    <div class="todolist-content">
        <div ng-if="!$ctrl.minimized">
            <div ng-if="!$ctrl.selectedProject">
                <div ng-if="$ctrl.loadingProjects">
                    Loading...
                </div>

                <div ng-repeat="project in $ctrl.projects" class="w100">
                    <div ng-click="$ctrl.selectProject(project); $ctrl.closeDialog();" class="todolist-project" ng-class="{'todolist-project-traversed': $ctrl.traversedProjectIndex === $index}">
                        <div class="todolist-project-name">{{project.name}}</div>
                    </div>
                    <div ng-if="$ctrl.controls">
                        <div ng-click="$ctrl.openDialog($ctrl.DIALOG.RENAME_PROJECT); $ctrl.selectedProjectForRename = project; $ctrl.dialogInputText = $ctrl.selectedProjectForRename.name; $ctrl.traversedProjectIndex = null;" class="todolist-project-control todolist-project-control-edit"></div>
                        <div class="todolist-project-control">
                            <div ng-if="$ctrl.isMoveProjectUpEnabled($index)" ng-click="$ctrl.moveProjectUp(project, $index)" class="todolist-project-control-arrow-up"></div>
                        </div>
                        <div class="todolist-project-control">
                            <div ng-if="$ctrl.isMoveProjectDownEnabled($index)" ng-click="$ctrl.moveProjectDown(project, $index)" class="todolist-project-control-arrow-down"></div>
                        </div>
                        <div ng-click="$ctrl.openDialog($ctrl.DIALOG.REMOVE_PROJECT); $ctrl.selectedProjectForRemove = project; $ctrl.traversedProjectIndex = null;" class="todolist-project-control todolist-project-control-remove"></div>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.selectedProject" class="todolist-tasks selectable">
                <div ng-if="$ctrl.loadingTasks">
                    Loading...
                </div>

                <div ng-repeat="task in $ctrl.tasks" class="todolist-task" ng-class="{'todolist-task-selected': (task === $ctrl.selectedTask && $ctrl.isTaskBeingControlled()) || ($ctrl.traversedTaskIndex === $index && !$ctrl.isTaskBeingControlled())}">
                    <div class="w100">
                        <div ng-click="$ctrl.openControlTaskDialog(task)" class="todolist-task-controls"></div>
                        <div class="todolist-task-text">{{task.taskString}}</div>
                    </div>
                    <div class="todolist-task-detail" ng-repeat="detail in task.details">
                        <div class="todolist-task-detail-dash"></div>{{detail.taskString}}
                    </div>
                </div>
            </div>

            <div ng-if="$ctrl.error" class="error">{{$ctrl.error}}</div>

            <!-- Control task dialog -->
            <action-list-dialog
                status="$ctrl.isDialogOpen($ctrl.DIALOG.CONTROL_TASK)"
                title-text="Control task"
                actions="$ctrl.controlTaskActions"
                task="$ctrl.selectedTask"
                cancel-action="$ctrl.closeDialog()"></action-list-dialog>

            <!-- Create task detail dialog -->
            <action-cancel-dialog
                status="$ctrl.isDialogOpen($ctrl.DIALOG.CREATE_TASK_DETAIL)"
                title-text="Create detail"
                error="$ctrl.createTaskDetailError"
                text-input="$ctrl.dialogInputText"
                action="$ctrl.createTaskDetail($ctrl.selectedTask.id, $ctrl.dialogInputText)"
                action-text="Create"
                cancel-action="$ctrl.closeDialog()"
                wide></action-cancel-dialog>

            <!-- Edit task dialog -->
            <action-cancel-dialog
                status="$ctrl.isDialogOpen($ctrl.DIALOG.EDIT_TASK)"
                title-text="Edit task"
                error="$ctrl.editTaskError"
                text-input="$ctrl.dialogInputText"
                default-text-input="$ctrl.dialogInputText"
                action="$ctrl.editTask($ctrl.selectedTask.id, $ctrl.dialogInputText)"
                action-text="Edit"
                cancel-action="$ctrl.closeDialog()"
                wide></action-cancel-dialog>

            <!-- Remove task dialog -->
            <action-cancel-dialog
                status="$ctrl.isDialogOpen($ctrl.DIALOG.REMOVE_TASK)"
                title-text="Remove task"
                error="$ctrl.removeTaskError"
                text="Are you sure you want to remove the task?"
                action="$ctrl.removeTask($ctrl.selectedTask.id)"
                action-text="Remove"
                cancel-action="$ctrl.closeDialog()"></action-cancel-dialog>

            <!-- Create task dialog -->
            <action-cancel-dialog 
                status="$ctrl.isDialogOpen($ctrl.DIALOG.CREATE_TASK)" 
                title-text="New task" 
                error="$ctrl.createTaskError" 
                text-input="$ctrl.dialogInputText" 
                action="$ctrl.createTask($ctrl.selectedProject.id, $ctrl.dialogInputText)" 
                action-text="Create" 
                cancel-action="$ctrl.closeDialog()" 
                wide></action-cancel-dialog>

            <!-- Create project dialog -->
            <action-cancel-dialog 
                status="$ctrl.isDialogOpen($ctrl.DIALOG.CREATE_PROJECT)" 
                title-text="Create project" 
                error="$ctrl.createProjectError" 
                text-input="$ctrl.dialogInputText" 
                action="$ctrl.createProject($ctrl.dialogInputText)" 
                action-text="Create"
                cancel-action="$ctrl.closeDialog()"></action-cancel-dialog>

            <!-- Rename project dialog -->
            <action-cancel-dialog 
                status="$ctrl.isDialogOpen($ctrl.DIALOG.RENAME_PROJECT)" 
                title-text="Rename project" 
                error="$ctrl.renameProjectError" 
                text-input="$ctrl.dialogInputText" 
                default-text-input="$ctrl.dialogInputText"
                action="$ctrl.renameProject($ctrl.selectedProjectForRename.id, $ctrl.dialogInputText)" 
                action-text="Rename"
                cancel-action="$ctrl.closeDialog()"></action-cancel-dialog>

            <!-- Remove project dialog -->
            <action-cancel-dialog 
                status="$ctrl.isDialogOpen($ctrl.DIALOG.REMOVE_PROJECT)" 
                title-text="Remove project" 
                error="$ctrl.removeProjectError" 
                text="Are you sure you want to remove the project?"
                action="$ctrl.removeProject($ctrl.selectedProjectForRemove.id)" 
                action-text="Remove"
                cancel-action="$ctrl.closeDialog()"></action-cancel-dialog>
        </div>
    </div>

    <div class="todolist-footer">
        <div ng-click="$ctrl.minimized = !$ctrl.minimized" class="todolist-maximize-minimize-button" 
             ng-class="{'todolist-big-arrow-right': $ctrl.minimized
                 , 'todolist-maximize-minimize-button-left': $ctrl.minimized
                 , 'todolist-big-arrow-left': !$ctrl.minimized
                 , 'todolist-maximize-minimize-button-right': !$ctrl.minimized
             }"></div>

        <div ng-if="!$ctrl.minimized">
            <div ng-if="!$ctrl.selectedProject">
                <div ng-click="$ctrl.openDialog($ctrl.DIALOG.CREATE_PROJECT); $ctrl.traversedProjectIndex = null;" class="todolist-button todolist-footer-button">Create Project</div>
                <div ng-click="$ctrl.controls = !$ctrl.controls" class="todolist-button todolist-footer-button todolist-footer-toggle-button" ng-class="{'todolist-footer-toggle-button-active': $ctrl.controls}">Controls</div>
            </div>

            <div ng-if="$ctrl.selectedProject">
                <div ng-click="$ctrl.selectedProject = null; $ctrl.error = null; $ctrl.closeDialog();" class="todolist-button todolist-footer-button">Back</div>
                <div ng-click="$ctrl.openDialog($ctrl.DIALOG.CREATE_TASK); $ctrl.traversedTaskIndex = null;" class="todolist-button todolist-footer-button">New Task</div>
            </div>
        </div>
    </div>
</div>