<div ng-repeat="detail in $ctrl.task.details" class="todolist-task-detail" 
     ng-class="{'todolist-task-detail-of-detail': $ctrl.attributes.hasOwnProperty('detailOfDetail')
     , 'todolist-task-detail-traversed': $ctrl.task === $ctrl.taskWorkedOn && $index === $ctrl.traversedTaskDetailIndex
     , 'todolist-task-detail-selected': $ctrl.isTaskDetailSelected(detail, $index)
     , 'todolist-task-grayed': !$ctrl.isAnyParentTaskWorkedOn && $ctrl.isGrayed(detail)}">
    <div class="todolist-task-detail-dash"></div>{{detail.taskString}}

    <task-details-list 
        task="detail" 
        task-worked-on="$ctrl.taskWorkedOn" 
        traversed-task-detail-index="$ctrl.traversedTaskDetailIndex" 
        is-task-detail-selected="$ctrl.isTaskDetailSelected" 
        is-task-worked-on="$ctrl.isTaskWorkedOn"
        is-any-parent-task-worked-on="$ctrl.isAnyParentTaskWorkedOn || !$ctrl.isGrayed(detail)"
        detail-of-detail></task-details-list>
</div>